body{
    color: white;
}
.black{
    background-color: black;
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.orange{
    background-color: orange;
}
.purple{
    background-color: purple;
}
.olive{
    background-color: olive;
}
.fuchsia{
    background-color: fuchsia;
}
.green{
    background-color: green;
}