body {
    background-color: seagreen;
    font-family: Arial, Helvetica, sans-serif;
    width: 60%;
}

h1 {
    color: white;
    text-shadow: 4px 4px black ;
    font-weight: bold;
}

div {
    margin-bottom: 20px;
}

.white {
    margin-left: 25%;
    width: 50%;
    background-color: white;
    border: 10px black solid;
    border-radius: 20px;
}

p {
    padding: 10px;
    margin: 0px;
}

.brown {
    margin-right: 50%;
    color: white;
    background-color: rgb(179, 97, 77);
    border: 15px rgb(138, 46, 17) solid;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.gold {
    margin-left: 50%;
    color: white;
    background-color: #cc8e3a;
    border: 13px #805205 solid;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.blue {
    margin-left: 25%;
    width: 50%;
    color: white;
    background-color: rgb(51, 51, 248);
    border: 4px rgb(62, 145, 253) dashed ;
}