.container {
    width: 600px;
    height: 600px;
    border: 1px black solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* 
    flex-direction: row;
    flex-direction: column; 
    flex-direction: row-reverse; */
}

.container1, .container2, .container3 {
    width: 100px;
    height: 200px;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.brown {
    background-color: brown;
}